PvTerrenos/Web References/WSpvt/pvt-webserv.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serviciodeconsultas.hol.es/webservice/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serviciodeconsultas.hol.es/webservice/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://serviciodeconsultas.hol.es/webservice/">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="loginRequest">
    <wsdl:part name="usuario" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="loginResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraUsuarioRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
    <wsdl:part name="nombre" type="xsd:string" />
    <wsdl:part name="apellidoPaterno" type="xsd:string" />
    <wsdl:part name="apellidoMaterno" type="xsd:string" />
    <wsdl:part name="tipo" type="xsd:string" />
    <wsdl:part name="email" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraUsuarioResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="listarUsuariosRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="listarUsuariosResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="usuarioUpdateRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
    <wsdl:part name="id_usuario" type="xsd:string" />
    <wsdl:part name="nombre" type="xsd:string" />
    <wsdl:part name="apellidoPaterno" type="xsd:string" />
    <wsdl:part name="apellidoMaterno" type="xsd:string" />
    <wsdl:part name="tipo" type="xsd:string" />
    <wsdl:part name="email" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="usuarioUpdateResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="usuarioChangePasswordRequest">
    <wsdl:part name="id-sesion" type="xsd:string" />
    <wsdl:part name="id_usuario" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="usuarioChangePasswordResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getPerfilUsuarioRequest">
    <wsdl:part name="id-sesion" type="xsd:string" />
    <wsdl:part name="id_usuario" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getPerfilUsuarioResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarUsuarioPorRequest">
    <wsdl:part name="id-sesion" type="xsd:string" />
    <wsdl:part name="modo" type="xsd:string" />
    <wsdl:part name="valor" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarUsuarioPorResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraCompradorRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
    <wsdl:part name="nombre" type="xsd:string" />
    <wsdl:part name="apellidoPaterno" type="xsd:string" />
    <wsdl:part name="apellidoMaterno" type="xsd:string" />
    <wsdl:part name="domicilio" type="xsd:string" />
    <wsdl:part name="recidencia" type="xsd:string" />
    <wsdl:part name="e_civil" type="xsd:string" />
    <wsdl:part name="ocupacion" type="xsd:string" />
    <wsdl:part name="beneficiario" type="xsd:string" />
    <wsdl:part name="tels" type="xsd:string" />
    <wsdl:part name="colonia" type="xsd:string" />
    <wsdl:part name="estado" type="xsd:string" />
    <wsdl:part name="municipio" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraCompradorResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateCompradorRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
    <wsdl:part name="id_comprador" type="xsd:string" />
    <wsdl:part name="nombre" type="xsd:string" />
    <wsdl:part name="apellidoPaterno" type="xsd:string" />
    <wsdl:part name="apellidoMaterno" type="xsd:string" />
    <wsdl:part name="domicilio" type="xsd:string" />
    <wsdl:part name="recidencia" type="xsd:string" />
    <wsdl:part name="e_civil" type="xsd:string" />
    <wsdl:part name="ocupacion" type="xsd:string" />
    <wsdl:part name="beneficiario" type="xsd:string" />
    <wsdl:part name="tels" type="xsd:string" />
    <wsdl:part name="colonia" type="xsd:string" />
    <wsdl:part name="estado" type="xsd:string" />
    <wsdl:part name="municipio" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateCompradorResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getCompradorRequest">
    <wsdl:part name="id_comprador" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getCompradorResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="listarCompradoresRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="listarCompradoresResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarCompradorPorRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
    <wsdl:part name="modo" type="xsd:string" />
    <wsdl:part name="valor" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarCompradorPorResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="eliminaCompradorRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
    <wsdl:part name="id_comprador" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="eliminaCompradorResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraVentaRequest">
    <wsdl:part name="id_comprador" type="xsd:string" />
    <wsdl:part name="lote" type="xsd:string" />
    <wsdl:part name="tipo_pago" type="xsd:string" />
    <wsdl:part name="monto" type="xsd:string" />
    <wsdl:part name="mensualidad" type="xsd:string" />
    <wsdl:part name="Fecha_compra" type="xsd:string" />
    <wsdl:part name="fecha_corte" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraVentaResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateVentaRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
    <wsdl:part name="id_venta" type="xsd:string" />
    <wsdl:part name="comprador" type="xsd:string" />
    <wsdl:part name="vendedor" type="xsd:string" />
    <wsdl:part name="lote" type="xsd:string" />
    <wsdl:part name="total_venta" type="xsd:string" />
    <wsdl:part name="saldo_actual" type="xsd:string" />
    <wsdl:part name="mensualidades" type="xsd:string" />
    <wsdl:part name="pago" type="xsd:string" />
    <wsdl:part name="pago_minimo" type="xsd:string" />
    <wsdl:part name="fecha_compra" type="xsd:string" />
    <wsdl:part name="fecha_corte" type="xsd:string" />
    <wsdl:part name="tipo_pago" type="xsd:string" />
    <wsdl:part name="comicion" type="xsd:string" />
    <wsdl:part name="interes_tardio" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateVentaResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getVentaRequest">
    <wsdl:part name="id_comprador" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getVentaResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraAbonoRequest">
    <wsdl:part name="id_comprador" type="xsd:string" />
    <wsdl:part name="abono" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraAbonoResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getAbonoRequest">
    <wsdl:part name="id_comprador" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getAbonoResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getIdVentaPkLoteRequest">
    <wsdl:part name="id_lote" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getIdVentaPkLoteResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarVentaPorRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
    <wsdl:part name="modo" type="xsd:string" />
    <wsdl:part name="valor" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarVentaPorResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraPredioRequest">
    <wsdl:part name="id_predio" type="xsd:string" />
    <wsdl:part name="nombre_predio" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraPredioResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="cargaPredioRequest" />
  <wsdl:message name="cargaPredioResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getIdPredioRequest">
    <wsdl:part name="nombre_predio" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getIdPredioResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getIdPredioPkLoteRequest">
    <wsdl:part name="pk_lote" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getIdPredioPkLoteResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getNombrePredioRequest">
    <wsdl:part name="id_predio" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getNombrePredioResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraManzanaRequest">
    <wsdl:part name="numero_manzana" type="xsd:string" />
    <wsdl:part name="pk_predio" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraManzanaResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="cargaManzanaRequest">
    <wsdl:part name="id_predio" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="cargaManzanaResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getIdManzanaRequest">
    <wsdl:part name="numero_manzana" type="xsd:string" />
    <wsdl:part name="pk_predio" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getIdManzanaResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getIdManzanaPkLoteRequest">
    <wsdl:part name="pk_lote" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getIdManzanaPkLoteResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getNumeroManzanaRequest">
    <wsdl:part name="id_manzana" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getNumeroManzanaResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraLoteRequest">
    <wsdl:part name="pk_predio" type="xsd:string" />
    <wsdl:part name="pk_manzana" type="xsd:string" />
    <wsdl:part name="n_lote" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraLoteResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="cargaLotesRequest">
    <wsdl:part name="id_manzana" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="cargaLotesResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateLoteRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
    <wsdl:part name="id_lote" type="xsd:string" />
    <wsdl:part name="pk_manzana" type="xsd:string" />
    <wsdl:part name="estatus" type="xsd:string" />
    <wsdl:part name="n_lote" type="xsd:string" />
    <wsdl:part name="descripcion" type="xsd:string" />
    <wsdl:part name="precio" type="xsd:string" />
    <wsdl:part name="medida" type="xsd:string" />
    <wsdl:part name="pk_norte" type="xsd:string" />
    <wsdl:part name="pk_sur" type="xsd:string" />
    <wsdl:part name="pk_este" type="xsd:string" />
    <wsdl:part name="pk_oeste" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateLoteResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getIdLoteRequest">
    <wsdl:part name="pk_manzana" type="xsd:string" />
    <wsdl:part name="numero_lote" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getIdLoteResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getNumeroLoteRequest">
    <wsdl:part name="id_lote" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getNumeroLoteResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateStatusLoteRequest">
    <wsdl:part name="id_lote" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateStatusLoteResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="eliminaLoteRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
    <wsdl:part name="id_lote" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="eliminaLoteResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscaLotePorRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
    <wsdl:part name="modo" type="xsd:string" />
    <wsdl:part name="valor" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscaLotePorResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraProximoPagoRequest">
    <wsdl:part name="id_venta" type="xsd:string" />
    <wsdl:part name="monto" type="xsd:string" />
    <wsdl:part name="proximo_pago" type="xsd:string" />
    <wsdl:part name="tipo_pago" type="xsd:string" />
    <wsdl:part name="pago_actual" type="xsd:string" />
    <wsdl:part name="pago_final" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraProximoPagoResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getProximoPagoRequest">
    <wsdl:part name="id_venta" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getProximoPagoResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarPagosRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
    <wsdl:part name="modo" type="xsd:string" />
    <wsdl:part name="valor" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarPagosResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraPagoRequest">
    <wsdl:part name="id_venta" type="xsd:string" />
    <wsdl:part name="monto" type="xsd:string" />
    <wsdl:part name="fecha_pago" type="xsd:string" />
    <wsdl:part name="fecha_corte" type="xsd:string" />
    <wsdl:part name="tipo_pago" type="xsd:string" />
    <wsdl:part name="pago_actual" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraPagoResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraMoraRequest">
    <wsdl:part name="id_venta" type="xsd:string" />
    <wsdl:part name="monto_mora" type="xsd:string" />
    <wsdl:part name="fecha_pago" type="xsd:string" />
    <wsdl:part name="mes_mora" type="xsd:string" />
    <wsdl:part name="fecha_mora" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraMoraResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="PVTPortType">
    <wsdl:operation name="login">
      <wsdl:input message="tns:loginRequest" />
      <wsdl:output message="tns:loginResponse" />
    </wsdl:operation>
    <wsdl:operation name="registraUsuario">
      <wsdl:input message="tns:registraUsuarioRequest" />
      <wsdl:output message="tns:registraUsuarioResponse" />
    </wsdl:operation>
    <wsdl:operation name="listarUsuarios">
      <wsdl:input message="tns:listarUsuariosRequest" />
      <wsdl:output message="tns:listarUsuariosResponse" />
    </wsdl:operation>
    <wsdl:operation name="usuarioUpdate">
      <wsdl:input message="tns:usuarioUpdateRequest" />
      <wsdl:output message="tns:usuarioUpdateResponse" />
    </wsdl:operation>
    <wsdl:operation name="usuarioChangePassword">
      <wsdl:input message="tns:usuarioChangePasswordRequest" />
      <wsdl:output message="tns:usuarioChangePasswordResponse" />
    </wsdl:operation>
    <wsdl:operation name="getPerfilUsuario">
      <wsdl:input message="tns:getPerfilUsuarioRequest" />
      <wsdl:output message="tns:getPerfilUsuarioResponse" />
    </wsdl:operation>
    <wsdl:operation name="buscarUsuarioPor">
      <wsdl:input message="tns:buscarUsuarioPorRequest" />
      <wsdl:output message="tns:buscarUsuarioPorResponse" />
    </wsdl:operation>
    <wsdl:operation name="registraComprador">
      <wsdl:input message="tns:registraCompradorRequest" />
      <wsdl:output message="tns:registraCompradorResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateComprador">
      <wsdl:input message="tns:updateCompradorRequest" />
      <wsdl:output message="tns:updateCompradorResponse" />
    </wsdl:operation>
    <wsdl:operation name="getComprador">
      <wsdl:input message="tns:getCompradorRequest" />
      <wsdl:output message="tns:getCompradorResponse" />
    </wsdl:operation>
    <wsdl:operation name="listarCompradores">
      <wsdl:input message="tns:listarCompradoresRequest" />
      <wsdl:output message="tns:listarCompradoresResponse" />
    </wsdl:operation>
    <wsdl:operation name="buscarCompradorPor">
      <wsdl:input message="tns:buscarCompradorPorRequest" />
      <wsdl:output message="tns:buscarCompradorPorResponse" />
    </wsdl:operation>
    <wsdl:operation name="eliminaComprador">
      <wsdl:input message="tns:eliminaCompradorRequest" />
      <wsdl:output message="tns:eliminaCompradorResponse" />
    </wsdl:operation>
    <wsdl:operation name="registraVenta">
      <wsdl:input message="tns:registraVentaRequest" />
      <wsdl:output message="tns:registraVentaResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateVenta">
      <wsdl:input message="tns:updateVentaRequest" />
      <wsdl:output message="tns:updateVentaResponse" />
    </wsdl:operation>
    <wsdl:operation name="getVenta">
      <wsdl:input message="tns:getVentaRequest" />
      <wsdl:output message="tns:getVentaResponse" />
    </wsdl:operation>
    <wsdl:operation name="registraAbono">
      <wsdl:input message="tns:registraAbonoRequest" />
      <wsdl:output message="tns:registraAbonoResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAbono">
      <wsdl:input message="tns:getAbonoRequest" />
      <wsdl:output message="tns:getAbonoResponse" />
    </wsdl:operation>
    <wsdl:operation name="getIdVentaPkLote">
      <wsdl:input message="tns:getIdVentaPkLoteRequest" />
      <wsdl:output message="tns:getIdVentaPkLoteResponse" />
    </wsdl:operation>
    <wsdl:operation name="buscarVentaPor">
      <wsdl:input message="tns:buscarVentaPorRequest" />
      <wsdl:output message="tns:buscarVentaPorResponse" />
    </wsdl:operation>
    <wsdl:operation name="registraPredio">
      <wsdl:input message="tns:registraPredioRequest" />
      <wsdl:output message="tns:registraPredioResponse" />
    </wsdl:operation>
    <wsdl:operation name="cargaPredio">
      <wsdl:input message="tns:cargaPredioRequest" />
      <wsdl:output message="tns:cargaPredioResponse" />
    </wsdl:operation>
    <wsdl:operation name="getIdPredio">
      <wsdl:input message="tns:getIdPredioRequest" />
      <wsdl:output message="tns:getIdPredioResponse" />
    </wsdl:operation>
    <wsdl:operation name="getIdPredioPkLote">
      <wsdl:input message="tns:getIdPredioPkLoteRequest" />
      <wsdl:output message="tns:getIdPredioPkLoteResponse" />
    </wsdl:operation>
    <wsdl:operation name="getNombrePredio">
      <wsdl:input message="tns:getNombrePredioRequest" />
      <wsdl:output message="tns:getNombrePredioResponse" />
    </wsdl:operation>
    <wsdl:operation name="registraManzana">
      <wsdl:input message="tns:registraManzanaRequest" />
      <wsdl:output message="tns:registraManzanaResponse" />
    </wsdl:operation>
    <wsdl:operation name="cargaManzana">
      <wsdl:input message="tns:cargaManzanaRequest" />
      <wsdl:output message="tns:cargaManzanaResponse" />
    </wsdl:operation>
    <wsdl:operation name="getIdManzana">
      <wsdl:input message="tns:getIdManzanaRequest" />
      <wsdl:output message="tns:getIdManzanaResponse" />
    </wsdl:operation>
    <wsdl:operation name="getIdManzanaPkLote">
      <wsdl:input message="tns:getIdManzanaPkLoteRequest" />
      <wsdl:output message="tns:getIdManzanaPkLoteResponse" />
    </wsdl:operation>
    <wsdl:operation name="getNumeroManzana">
      <wsdl:input message="tns:getNumeroManzanaRequest" />
      <wsdl:output message="tns:getNumeroManzanaResponse" />
    </wsdl:operation>
    <wsdl:operation name="registraLote">
      <wsdl:input message="tns:registraLoteRequest" />
      <wsdl:output message="tns:registraLoteResponse" />
    </wsdl:operation>
    <wsdl:operation name="cargaLotes">
      <wsdl:input message="tns:cargaLotesRequest" />
      <wsdl:output message="tns:cargaLotesResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateLote">
      <wsdl:input message="tns:updateLoteRequest" />
      <wsdl:output message="tns:updateLoteResponse" />
    </wsdl:operation>
    <wsdl:operation name="getIdLote">
      <wsdl:input message="tns:getIdLoteRequest" />
      <wsdl:output message="tns:getIdLoteResponse" />
    </wsdl:operation>
    <wsdl:operation name="getNumeroLote">
      <wsdl:input message="tns:getNumeroLoteRequest" />
      <wsdl:output message="tns:getNumeroLoteResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateStatusLote">
      <wsdl:input message="tns:updateStatusLoteRequest" />
      <wsdl:output message="tns:updateStatusLoteResponse" />
    </wsdl:operation>
    <wsdl:operation name="eliminaLote">
      <wsdl:input message="tns:eliminaLoteRequest" />
      <wsdl:output message="tns:eliminaLoteResponse" />
    </wsdl:operation>
    <wsdl:operation name="buscaLotePor">
      <wsdl:input message="tns:buscaLotePorRequest" />
      <wsdl:output message="tns:buscaLotePorResponse" />
    </wsdl:operation>
    <wsdl:operation name="registraProximoPago">
      <wsdl:input message="tns:registraProximoPagoRequest" />
      <wsdl:output message="tns:registraProximoPagoResponse" />
    </wsdl:operation>
    <wsdl:operation name="getProximoPago">
      <wsdl:input message="tns:getProximoPagoRequest" />
      <wsdl:output message="tns:getProximoPagoResponse" />
    </wsdl:operation>
    <wsdl:operation name="buscarPagos">
      <wsdl:input message="tns:buscarPagosRequest" />
      <wsdl:output message="tns:buscarPagosResponse" />
    </wsdl:operation>
    <wsdl:operation name="registraPago">
      <wsdl:input message="tns:registraPagoRequest" />
      <wsdl:output message="tns:registraPagoResponse" />
    </wsdl:operation>
    <wsdl:operation name="registraMora">
      <wsdl:input message="tns:registraMoraRequest" />
      <wsdl:output message="tns:registraMoraResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PVTBinding" type="tns:PVTPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="login">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/login" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registraUsuario">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/registraUsuario" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarUsuarios">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/listarUsuarios" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="usuarioUpdate">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/usuarioUpdate" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="usuarioChangePassword">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/usuarioChangePassword" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPerfilUsuario">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getPerfilUsuario" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarUsuarioPor">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/buscarUsuarioPor" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registraComprador">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/registraComprador" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateComprador">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/updateComprador" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getComprador">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getComprador" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarCompradores">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/listarCompradores" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarCompradorPor">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/buscarCompradorPor" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminaComprador">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/eliminaComprador" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registraVenta">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/registraVenta" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateVenta">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/updateVenta" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVenta">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getVenta" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registraAbono">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/registraAbono" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAbono">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getAbono" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIdVentaPkLote">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getIdVentaPkLote" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarVentaPor">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/buscarVentaPor" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registraPredio">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/registraPredio" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargaPredio">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/cargaPredio" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIdPredio">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getIdPredio" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIdPredioPkLote">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getIdPredioPkLote" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNombrePredio">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getNombrePredio" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registraManzana">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/registraManzana" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargaManzana">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/cargaManzana" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIdManzana">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getIdManzana" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIdManzanaPkLote">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getIdManzanaPkLote" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNumeroManzana">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getNumeroManzana" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registraLote">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/registraLote" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargaLotes">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/cargaLotes" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateLote">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/updateLote" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIdLote">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getIdLote" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNumeroLote">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getNumeroLote" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateStatusLote">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/updateStatusLote" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminaLote">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/eliminaLote" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscaLotePor">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/buscaLotePor" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registraProximoPago">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/registraProximoPago" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProximoPago">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getProximoPago" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarPagos">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/buscarPagos" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registraPago">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/registraPago" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registraMora">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/registraMora" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PVT">
    <wsdl:port name="PVTPort" binding="tns:PVTBinding">
      <soap:address location="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>