PvTerrenos/Web References/WSpvt/pvt-webserv.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serviciodeconsultas.hol.es/webservice/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serviciodeconsultas.hol.es/webservice/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://serviciodeconsultas.hol.es/webservice/">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="loginRequest">
    <wsdl:part name="usuario" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="loginResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraUsuarioRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
    <wsdl:part name="nombre" type="xsd:string" />
    <wsdl:part name="apellidoPaterno" type="xsd:string" />
    <wsdl:part name="apellidoMaterno" type="xsd:string" />
    <wsdl:part name="tipo" type="xsd:string" />
    <wsdl:part name="email" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraUsuarioResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="listarUsuariosRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="listarUsuariosResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="usuarioUpdateRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
    <wsdl:part name="id_usuario" type="xsd:string" />
    <wsdl:part name="nombre" type="xsd:string" />
    <wsdl:part name="apellidoPaterno" type="xsd:string" />
    <wsdl:part name="apellidoMaterno" type="xsd:string" />
    <wsdl:part name="tipo" type="xsd:string" />
    <wsdl:part name="email" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="usuarioUpdateResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="usuarioChangePasswordRequest">
    <wsdl:part name="id-sesion" type="xsd:string" />
    <wsdl:part name="id_usuario" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="usuarioChangePasswordResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getPerfilUsuarioRequest">
    <wsdl:part name="id-sesion" type="xsd:string" />
    <wsdl:part name="id_usuario" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getPerfilUsuarioResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarUsuarioPorRequest">
    <wsdl:part name="id-sesion" type="xsd:string" />
    <wsdl:part name="modo" type="xsd:string" />
    <wsdl:part name="valor" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarUsuarioPorResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraCompradorRequest">
    <wsdl:part name="id" type="xsd:string" />
    <wsdl:part name="nombre" type="xsd:string" />
    <wsdl:part name="direccion" type="xsd:string" />
    <wsdl:part name="beneficiario" type="xsd:string" />
    <wsdl:part name="residencia" type="xsd:string" />
    <wsdl:part name="ocupacion" type="xsd:string" />
    <wsdl:part name="estado_civil" type="xsd:string" />
    <wsdl:part name="tel" type="xsd:string" />
    <wsdl:part name="tel1" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraCompradorResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateIdCompradorRequest">
    <wsdl:part name="idComprador" type="xsd:string" />
    <wsdl:part name="nombreComprador" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateIdCompradorResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateCompradorRequest">
    <wsdl:part name="id" type="xsd:string" />
    <wsdl:part name="nombre" type="xsd:string" />
    <wsdl:part name="direccion" type="xsd:string" />
    <wsdl:part name="beneficiario" type="xsd:string" />
    <wsdl:part name="residencia" type="xsd:string" />
    <wsdl:part name="ocupacion" type="xsd:string" />
    <wsdl:part name="estado_civil" type="xsd:string" />
    <wsdl:part name="tel" type="xsd:string" />
    <wsdl:part name="tel1" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateCompradorResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getCompradorRequest">
    <wsdl:part name="nombreComprador" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getCompradorResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getNombreCompradorRequest">
    <wsdl:part name="id" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getNombreCompradorResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getIdCompradorRequest">
    <wsdl:part name="comprador" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getIdCompradorResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="cargaCompradorRequest" />
  <wsdl:message name="cargaCompradorResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="listarCompradoresRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="listarCompradoresResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarCompradorPorRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
    <wsdl:part name="modo" type="xsd:string" />
    <wsdl:part name="valor" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarCompradorPorResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="eliminaCompradorRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
    <wsdl:part name="id_comprador" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="eliminaCompradorResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraVentaRequest">
    <wsdl:part name="id_comprador" type="xsd:string" />
    <wsdl:part name="lote" type="xsd:string" />
    <wsdl:part name="tipo_pago" type="xsd:string" />
    <wsdl:part name="monto" type="xsd:string" />
    <wsdl:part name="mensualidad" type="xsd:string" />
    <wsdl:part name="Fecha_compra" type="xsd:string" />
    <wsdl:part name="fecha_corte" type="xsd:string" />
    <wsdl:part name="status_venta" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraVentaResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateVentaRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
    <wsdl:part name="id_venta" type="xsd:string" />
    <wsdl:part name="comprador" type="xsd:string" />
    <wsdl:part name="vendedor" type="xsd:string" />
    <wsdl:part name="lote" type="xsd:string" />
    <wsdl:part name="total_venta" type="xsd:string" />
    <wsdl:part name="saldo_actual" type="xsd:string" />
    <wsdl:part name="mensualidades" type="xsd:string" />
    <wsdl:part name="pago" type="xsd:string" />
    <wsdl:part name="pago_minimo" type="xsd:string" />
    <wsdl:part name="fecha_compra" type="xsd:string" />
    <wsdl:part name="fecha_corte" type="xsd:string" />
    <wsdl:part name="tipo_pago" type="xsd:string" />
    <wsdl:part name="comicion" type="xsd:string" />
    <wsdl:part name="interes_tardio" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateVentaResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getVentaRequest">
    <wsdl:part name="id_comprador" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getVentaResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getIdCompradordeVentaRequest" />
  <wsdl:message name="getIdCompradordeVentaResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="modificaDatoRequest">
    <wsdl:part name="nombreColumna" type="xsd:string" />
    <wsdl:part name="nuevoDato" type="xsd:string" />
    <wsdl:part name="id_lote" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="modificaDatoResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getVentadeIdLoteRequest">
    <wsdl:part name="id_lote" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getVentadeIdLoteResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getIdLoteDeVentaRequest">
    <wsdl:part name="id_comprador" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getIdLoteDeVentaResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraAbonoRequest">
    <wsdl:part name="id_comprador" type="xsd:string" />
    <wsdl:part name="abono" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraAbonoResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateAbonoMensualRequest">
    <wsdl:part name="id_comprador" type="xsd:string" />
    <wsdl:part name="abono" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateAbonoMensualResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getAbonoRequest">
    <wsdl:part name="id_comprador" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getAbonoResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getIdVentaPkLoteRequest">
    <wsdl:part name="id_lote" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getIdVentaPkLoteResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarVentaPorRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
    <wsdl:part name="modo" type="xsd:string" />
    <wsdl:part name="valor" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarVentaPorResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraPredioRequest">
    <wsdl:part name="id_predio" type="xsd:string" />
    <wsdl:part name="nombre_predio" type="xsd:string" />
    <wsdl:part name="colonia" type="xsd:string" />
    <wsdl:part name="municipio" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraPredioResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="cargaColumnaTablaPredioRequest">
    <wsdl:part name="nombreColumna" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="cargaColumnaTablaPredioResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getPredioRequest">
    <wsdl:part name="nombrePredio" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getPredioResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getDatoPredioRequest">
    <wsdl:part name="columna" type="xsd:string" />
    <wsdl:part name="where" type="xsd:string" />
    <wsdl:part name="igual" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getDatoPredioResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getIdPredioRequest">
    <wsdl:part name="nombre_predio" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getIdPredioResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getinfoPredioRequest" />
  <wsdl:message name="getinfoPredioResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getIdPredioPkLoteRequest">
    <wsdl:part name="pk_lote" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getIdPredioPkLoteResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getNombrePredioRequest">
    <wsdl:part name="id_predio" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getNombrePredioResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraManzanaRequest">
    <wsdl:part name="numero_manzana" type="xsd:string" />
    <wsdl:part name="pk_predio" type="xsd:string" />
    <wsdl:part name="agregarManzana" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraManzanaResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="cargaColumnaTablaManzanaRequest">
    <wsdl:part name="id_predio" type="xsd:string" />
    <wsdl:part name="nombre_columna" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="cargaColumnaTablaManzanaResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getIdManzanaRequest">
    <wsdl:part name="numero_manzana" type="xsd:string" />
    <wsdl:part name="pk_predio" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getIdManzanaResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getIdManzanaPkLoteRequest">
    <wsdl:part name="pk_lote" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getIdManzanaPkLoteResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getNumeroManzanaRequest">
    <wsdl:part name="id_manzana" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getNumeroManzanaResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="contarManzanasRequest">
    <wsdl:part name="pk_predio" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="contarManzanasResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraLoteRequest">
    <wsdl:part name="pk_predio" type="xsd:string" />
    <wsdl:part name="pk_manzana" type="xsd:string" />
    <wsdl:part name="n_lote" type="xsd:string" />
    <wsdl:part name="agregar" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraLoteResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="cargaLotesRequest">
    <wsdl:part name="id_manzana" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="cargaLotesResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="cargaLotesDePredioRequest">
    <wsdl:part name="id_predio" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="cargaLotesDePredioResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateLoteRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
    <wsdl:part name="id_lote" type="xsd:string" />
    <wsdl:part name="pk_manzana" type="xsd:string" />
    <wsdl:part name="estatus" type="xsd:string" />
    <wsdl:part name="n_lote" type="xsd:string" />
    <wsdl:part name="descripcion" type="xsd:string" />
    <wsdl:part name="precio" type="xsd:string" />
    <wsdl:part name="medida" type="xsd:string" />
    <wsdl:part name="pk_norte" type="xsd:string" />
    <wsdl:part name="pk_sur" type="xsd:string" />
    <wsdl:part name="pk_este" type="xsd:string" />
    <wsdl:part name="pk_oeste" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateLoteResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getIdLoteRequest">
    <wsdl:part name="id" type="xsd:string" />
    <wsdl:part name="numero_lote" type="xsd:string" />
    <wsdl:part name="nombre_Columna" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getIdLoteResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getNumeroLoteRequest">
    <wsdl:part name="id_lote" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getNumeroLoteResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateStatusLoteRequest">
    <wsdl:part name="id_lote" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateStatusLoteResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="eliminaLoteRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
    <wsdl:part name="id_lote" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="eliminaLoteResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscaLotePorRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
    <wsdl:part name="modo" type="xsd:string" />
    <wsdl:part name="valor" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscaLotePorResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="contarLotesRequest">
    <wsdl:part name="pk_manzana" type="xsd:string" />
    <wsdl:part name="pk_predio" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="contarLotesResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getMedidaLoteRequest">
    <wsdl:part name="id_lote" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getMedidaLoteResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getStatusLotesRequest">
    <wsdl:part name="id_predio" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getStatusLotesResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getMedidaRequest" />
  <wsdl:message name="getMedidaResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraMedidaRequest">
    <wsdl:part name="medida" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraMedidaResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="insertaMedidaRequest">
    <wsdl:part name="id_lote" type="xsd:string" />
    <wsdl:part name="medidaNorte" type="xsd:string" />
    <wsdl:part name="MedidaSur" type="xsd:string" />
    <wsdl:part name="MedidaEste" type="xsd:string" />
    <wsdl:part name="MedidaOeste" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="insertaMedidaResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="infoLoteRequest">
    <wsdl:part name="id_lote" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="infoLoteResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraProximoPagoRequest">
    <wsdl:part name="id_venta" type="xsd:string" />
    <wsdl:part name="monto" type="xsd:string" />
    <wsdl:part name="proximo_pago" type="xsd:string" />
    <wsdl:part name="pago_actual" type="xsd:string" />
    <wsdl:part name="pago_final" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraProximoPagoResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraPagoRequest">
    <wsdl:part name="id_venta" type="xsd:string" />
    <wsdl:part name="monto" type="xsd:string" />
    <wsdl:part name="fecha_pago" type="xsd:string" />
    <wsdl:part name="fecha_corte" type="xsd:string" />
    <wsdl:part name="tipo_pago" type="xsd:string" />
    <wsdl:part name="pago_actual" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraPagoResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getProximoPagoRequest">
    <wsdl:part name="id_venta" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getProximoPagoResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateStatusMoraRequest">
    <wsdl:part name="id_venta" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateStatusMoraResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateTablaProximoPagoRequest">
    <wsdl:part name="idVenta" type="xsd:string" />
    <wsdl:part name="monto" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateTablaProximoPagoResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateProximoPagoRequest">
    <wsdl:part name="idVenta" type="xsd:string" />
    <wsdl:part name="monto" type="xsd:string" />
    <wsdl:part name="proximo_pago" type="xsd:string" />
    <wsdl:part name="tipo_pago" type="xsd:string" />
    <wsdl:part name="pago_actual" type="xsd:string" />
    <wsdl:part name="status_mora" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateProximoPagoResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraMoraRequest">
    <wsdl:part name="id_venta" type="xsd:string" />
    <wsdl:part name="monto_mora" type="xsd:string" />
    <wsdl:part name="fecha_pago" type="xsd:string" />
    <wsdl:part name="mes_mora" type="xsd:string" />
    <wsdl:part name="fecha_mora" type="xsd:string" />
    <wsdl:part name="status_mora" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraMoraResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getIdMoraRequest">
    <wsdl:part name="idVenta" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getIdMoraResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getFechaMoraRequest">
    <wsdl:part name="id_venta" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getFechaMoraResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getMontoMoraRequest">
    <wsdl:part name="id_venta" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getMontoMoraResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateTablaMoraRequest">
    <wsdl:part name="id_mora" type="xsd:string" />
    <wsdl:part name="dato" type="xsd:string" />
    <wsdl:part name="nombreColumna" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateTablaMoraResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="reportePagoRequest">
    <wsdl:part name="numero_pago" type="xsd:string" />
    <wsdl:part name="fraccionamiento" type="xsd:string" />
    <wsdl:part name="numero_lote" type="xsd:string" />
    <wsdl:part name="medida_norte" type="xsd:string" />
    <wsdl:part name="medida_sur" type="xsd:string" />
    <wsdl:part name="medida_este" type="xsd:string" />
    <wsdl:part name="medida_oeste" type="xsd:string" />
    <wsdl:part name="numero_manzana" type="xsd:string" />
    <wsdl:part name="cliente" type="xsd:string" />
    <wsdl:part name="monto" type="xsd:string" />
    <wsdl:part name="fecha_pago" type="xsd:string" />
    <wsdl:part name="municipio" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="reportePagoResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="PVTPortType">
    <wsdl:operation name="login">
      <wsdl:input message="tns:loginRequest" />
      <wsdl:output message="tns:loginResponse" />
    </wsdl:operation>
    <wsdl:operation name="registraUsuario">
      <wsdl:input message="tns:registraUsuarioRequest" />
      <wsdl:output message="tns:registraUsuarioResponse" />
    </wsdl:operation>
    <wsdl:operation name="listarUsuarios">
      <wsdl:input message="tns:listarUsuariosRequest" />
      <wsdl:output message="tns:listarUsuariosResponse" />
    </wsdl:operation>
    <wsdl:operation name="usuarioUpdate">
      <wsdl:input message="tns:usuarioUpdateRequest" />
      <wsdl:output message="tns:usuarioUpdateResponse" />
    </wsdl:operation>
    <wsdl:operation name="usuarioChangePassword">
      <wsdl:input message="tns:usuarioChangePasswordRequest" />
      <wsdl:output message="tns:usuarioChangePasswordResponse" />
    </wsdl:operation>
    <wsdl:operation name="getPerfilUsuario">
      <wsdl:input message="tns:getPerfilUsuarioRequest" />
      <wsdl:output message="tns:getPerfilUsuarioResponse" />
    </wsdl:operation>
    <wsdl:operation name="buscarUsuarioPor">
      <wsdl:input message="tns:buscarUsuarioPorRequest" />
      <wsdl:output message="tns:buscarUsuarioPorResponse" />
    </wsdl:operation>
    <wsdl:operation name="registraComprador">
      <wsdl:input message="tns:registraCompradorRequest" />
      <wsdl:output message="tns:registraCompradorResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateIdComprador">
      <wsdl:input message="tns:updateIdCompradorRequest" />
      <wsdl:output message="tns:updateIdCompradorResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateComprador">
      <wsdl:input message="tns:updateCompradorRequest" />
      <wsdl:output message="tns:updateCompradorResponse" />
    </wsdl:operation>
    <wsdl:operation name="getComprador">
      <wsdl:input message="tns:getCompradorRequest" />
      <wsdl:output message="tns:getCompradorResponse" />
    </wsdl:operation>
    <wsdl:operation name="getNombreComprador">
      <wsdl:input message="tns:getNombreCompradorRequest" />
      <wsdl:output message="tns:getNombreCompradorResponse" />
    </wsdl:operation>
    <wsdl:operation name="getIdComprador">
      <wsdl:input message="tns:getIdCompradorRequest" />
      <wsdl:output message="tns:getIdCompradorResponse" />
    </wsdl:operation>
    <wsdl:operation name="cargaComprador">
      <wsdl:input message="tns:cargaCompradorRequest" />
      <wsdl:output message="tns:cargaCompradorResponse" />
    </wsdl:operation>
    <wsdl:operation name="listarCompradores">
      <wsdl:input message="tns:listarCompradoresRequest" />
      <wsdl:output message="tns:listarCompradoresResponse" />
    </wsdl:operation>
    <wsdl:operation name="buscarCompradorPor">
      <wsdl:input message="tns:buscarCompradorPorRequest" />
      <wsdl:output message="tns:buscarCompradorPorResponse" />
    </wsdl:operation>
    <wsdl:operation name="eliminaComprador">
      <wsdl:input message="tns:eliminaCompradorRequest" />
      <wsdl:output message="tns:eliminaCompradorResponse" />
    </wsdl:operation>
    <wsdl:operation name="registraVenta">
      <wsdl:input message="tns:registraVentaRequest" />
      <wsdl:output message="tns:registraVentaResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateVenta">
      <wsdl:input message="tns:updateVentaRequest" />
      <wsdl:output message="tns:updateVentaResponse" />
    </wsdl:operation>
    <wsdl:operation name="getVenta">
      <wsdl:input message="tns:getVentaRequest" />
      <wsdl:output message="tns:getVentaResponse" />
    </wsdl:operation>
    <wsdl:operation name="getIdCompradordeVenta">
      <wsdl:input message="tns:getIdCompradordeVentaRequest" />
      <wsdl:output message="tns:getIdCompradordeVentaResponse" />
    </wsdl:operation>
    <wsdl:operation name="modificaDato">
      <wsdl:input message="tns:modificaDatoRequest" />
      <wsdl:output message="tns:modificaDatoResponse" />
    </wsdl:operation>
    <wsdl:operation name="getVentadeIdLote">
      <wsdl:input message="tns:getVentadeIdLoteRequest" />
      <wsdl:output message="tns:getVentadeIdLoteResponse" />
    </wsdl:operation>
    <wsdl:operation name="getIdLoteDeVenta">
      <wsdl:input message="tns:getIdLoteDeVentaRequest" />
      <wsdl:output message="tns:getIdLoteDeVentaResponse" />
    </wsdl:operation>
    <wsdl:operation name="registraAbono">
      <wsdl:input message="tns:registraAbonoRequest" />
      <wsdl:output message="tns:registraAbonoResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateAbonoMensual">
      <wsdl:input message="tns:updateAbonoMensualRequest" />
      <wsdl:output message="tns:updateAbonoMensualResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAbono">
      <wsdl:input message="tns:getAbonoRequest" />
      <wsdl:output message="tns:getAbonoResponse" />
    </wsdl:operation>
    <wsdl:operation name="getIdVentaPkLote">
      <wsdl:input message="tns:getIdVentaPkLoteRequest" />
      <wsdl:output message="tns:getIdVentaPkLoteResponse" />
    </wsdl:operation>
    <wsdl:operation name="buscarVentaPor">
      <wsdl:input message="tns:buscarVentaPorRequest" />
      <wsdl:output message="tns:buscarVentaPorResponse" />
    </wsdl:operation>
    <wsdl:operation name="registraPredio">
      <wsdl:input message="tns:registraPredioRequest" />
      <wsdl:output message="tns:registraPredioResponse" />
    </wsdl:operation>
    <wsdl:operation name="cargaColumnaTablaPredio">
      <wsdl:input message="tns:cargaColumnaTablaPredioRequest" />
      <wsdl:output message="tns:cargaColumnaTablaPredioResponse" />
    </wsdl:operation>
    <wsdl:operation name="getPredio">
      <wsdl:input message="tns:getPredioRequest" />
      <wsdl:output message="tns:getPredioResponse" />
    </wsdl:operation>
    <wsdl:operation name="getDatoPredio">
      <wsdl:input message="tns:getDatoPredioRequest" />
      <wsdl:output message="tns:getDatoPredioResponse" />
    </wsdl:operation>
    <wsdl:operation name="getIdPredio">
      <wsdl:input message="tns:getIdPredioRequest" />
      <wsdl:output message="tns:getIdPredioResponse" />
    </wsdl:operation>
    <wsdl:operation name="getinfoPredio">
      <wsdl:input message="tns:getinfoPredioRequest" />
      <wsdl:output message="tns:getinfoPredioResponse" />
    </wsdl:operation>
    <wsdl:operation name="getIdPredioPkLote">
      <wsdl:input message="tns:getIdPredioPkLoteRequest" />
      <wsdl:output message="tns:getIdPredioPkLoteResponse" />
    </wsdl:operation>
    <wsdl:operation name="getNombrePredio">
      <wsdl:input message="tns:getNombrePredioRequest" />
      <wsdl:output message="tns:getNombrePredioResponse" />
    </wsdl:operation>
    <wsdl:operation name="registraManzana">
      <wsdl:input message="tns:registraManzanaRequest" />
      <wsdl:output message="tns:registraManzanaResponse" />
    </wsdl:operation>
    <wsdl:operation name="cargaColumnaTablaManzana">
      <wsdl:input message="tns:cargaColumnaTablaManzanaRequest" />
      <wsdl:output message="tns:cargaColumnaTablaManzanaResponse" />
    </wsdl:operation>
    <wsdl:operation name="getIdManzana">
      <wsdl:input message="tns:getIdManzanaRequest" />
      <wsdl:output message="tns:getIdManzanaResponse" />
    </wsdl:operation>
    <wsdl:operation name="getIdManzanaPkLote">
      <wsdl:input message="tns:getIdManzanaPkLoteRequest" />
      <wsdl:output message="tns:getIdManzanaPkLoteResponse" />
    </wsdl:operation>
    <wsdl:operation name="getNumeroManzana">
      <wsdl:input message="tns:getNumeroManzanaRequest" />
      <wsdl:output message="tns:getNumeroManzanaResponse" />
    </wsdl:operation>
    <wsdl:operation name="contarManzanas">
      <wsdl:input message="tns:contarManzanasRequest" />
      <wsdl:output message="tns:contarManzanasResponse" />
    </wsdl:operation>
    <wsdl:operation name="registraLote">
      <wsdl:input message="tns:registraLoteRequest" />
      <wsdl:output message="tns:registraLoteResponse" />
    </wsdl:operation>
    <wsdl:operation name="cargaLotes">
      <wsdl:input message="tns:cargaLotesRequest" />
      <wsdl:output message="tns:cargaLotesResponse" />
    </wsdl:operation>
    <wsdl:operation name="cargaLotesDePredio">
      <wsdl:input message="tns:cargaLotesDePredioRequest" />
      <wsdl:output message="tns:cargaLotesDePredioResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateLote">
      <wsdl:input message="tns:updateLoteRequest" />
      <wsdl:output message="tns:updateLoteResponse" />
    </wsdl:operation>
    <wsdl:operation name="getIdLote">
      <wsdl:input message="tns:getIdLoteRequest" />
      <wsdl:output message="tns:getIdLoteResponse" />
    </wsdl:operation>
    <wsdl:operation name="getNumeroLote">
      <wsdl:input message="tns:getNumeroLoteRequest" />
      <wsdl:output message="tns:getNumeroLoteResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateStatusLote">
      <wsdl:input message="tns:updateStatusLoteRequest" />
      <wsdl:output message="tns:updateStatusLoteResponse" />
    </wsdl:operation>
    <wsdl:operation name="eliminaLote">
      <wsdl:input message="tns:eliminaLoteRequest" />
      <wsdl:output message="tns:eliminaLoteResponse" />
    </wsdl:operation>
    <wsdl:operation name="buscaLotePor">
      <wsdl:input message="tns:buscaLotePorRequest" />
      <wsdl:output message="tns:buscaLotePorResponse" />
    </wsdl:operation>
    <wsdl:operation name="contarLotes">
      <wsdl:input message="tns:contarLotesRequest" />
      <wsdl:output message="tns:contarLotesResponse" />
    </wsdl:operation>
    <wsdl:operation name="getMedidaLote">
      <wsdl:input message="tns:getMedidaLoteRequest" />
      <wsdl:output message="tns:getMedidaLoteResponse" />
    </wsdl:operation>
    <wsdl:operation name="getStatusLotes">
      <wsdl:input message="tns:getStatusLotesRequest" />
      <wsdl:output message="tns:getStatusLotesResponse" />
    </wsdl:operation>
    <wsdl:operation name="getMedida">
      <wsdl:input message="tns:getMedidaRequest" />
      <wsdl:output message="tns:getMedidaResponse" />
    </wsdl:operation>
    <wsdl:operation name="registraMedida">
      <wsdl:input message="tns:registraMedidaRequest" />
      <wsdl:output message="tns:registraMedidaResponse" />
    </wsdl:operation>
    <wsdl:operation name="insertaMedida">
      <wsdl:input message="tns:insertaMedidaRequest" />
      <wsdl:output message="tns:insertaMedidaResponse" />
    </wsdl:operation>
    <wsdl:operation name="infoLote">
      <wsdl:input message="tns:infoLoteRequest" />
      <wsdl:output message="tns:infoLoteResponse" />
    </wsdl:operation>
    <wsdl:operation name="registraProximoPago">
      <wsdl:input message="tns:registraProximoPagoRequest" />
      <wsdl:output message="tns:registraProximoPagoResponse" />
    </wsdl:operation>
    <wsdl:operation name="registraPago">
      <wsdl:input message="tns:registraPagoRequest" />
      <wsdl:output message="tns:registraPagoResponse" />
    </wsdl:operation>
    <wsdl:operation name="getProximoPago">
      <wsdl:input message="tns:getProximoPagoRequest" />
      <wsdl:output message="tns:getProximoPagoResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateStatusMora">
      <wsdl:input message="tns:updateStatusMoraRequest" />
      <wsdl:output message="tns:updateStatusMoraResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateTablaProximoPago">
      <wsdl:input message="tns:updateTablaProximoPagoRequest" />
      <wsdl:output message="tns:updateTablaProximoPagoResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateProximoPago">
      <wsdl:input message="tns:updateProximoPagoRequest" />
      <wsdl:output message="tns:updateProximoPagoResponse" />
    </wsdl:operation>
    <wsdl:operation name="registraMora">
      <wsdl:input message="tns:registraMoraRequest" />
      <wsdl:output message="tns:registraMoraResponse" />
    </wsdl:operation>
    <wsdl:operation name="getIdMora">
      <wsdl:input message="tns:getIdMoraRequest" />
      <wsdl:output message="tns:getIdMoraResponse" />
    </wsdl:operation>
    <wsdl:operation name="getFechaMora">
      <wsdl:input message="tns:getFechaMoraRequest" />
      <wsdl:output message="tns:getFechaMoraResponse" />
    </wsdl:operation>
    <wsdl:operation name="getMontoMora">
      <wsdl:input message="tns:getMontoMoraRequest" />
      <wsdl:output message="tns:getMontoMoraResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateTablaMora">
      <wsdl:input message="tns:updateTablaMoraRequest" />
      <wsdl:output message="tns:updateTablaMoraResponse" />
    </wsdl:operation>
    <wsdl:operation name="reportePago">
      <wsdl:input message="tns:reportePagoRequest" />
      <wsdl:output message="tns:reportePagoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PVTBinding" type="tns:PVTPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="login">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/login" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registraUsuario">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/registraUsuario" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarUsuarios">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/listarUsuarios" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="usuarioUpdate">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/usuarioUpdate" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="usuarioChangePassword">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/usuarioChangePassword" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPerfilUsuario">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getPerfilUsuario" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarUsuarioPor">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/buscarUsuarioPor" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registraComprador">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/registraComprador" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateIdComprador">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/updateIdComprador" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateComprador">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/updateComprador" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getComprador">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getComprador" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNombreComprador">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getNombreComprador" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIdComprador">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getIdComprador" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargaComprador">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/cargaComprador" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarCompradores">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/listarCompradores" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarCompradorPor">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/buscarCompradorPor" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminaComprador">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/eliminaComprador" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registraVenta">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/registraVenta" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateVenta">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/updateVenta" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVenta">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getVenta" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIdCompradordeVenta">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getIdCompradordeVenta" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificaDato">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/modificaDato" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVentadeIdLote">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getVentadeIdLote" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIdLoteDeVenta">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getIdLoteDeVenta" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registraAbono">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/registraAbono" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAbonoMensual">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/updateAbonoMensual" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAbono">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getAbono" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIdVentaPkLote">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getIdVentaPkLote" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarVentaPor">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/buscarVentaPor" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registraPredio">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/registraPredio" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargaColumnaTablaPredio">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/cargaColumnaTablaPredio" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPredio">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getPredio" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDatoPredio">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getDatoPredio" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIdPredio">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getIdPredio" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getinfoPredio">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getinfoPredio" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIdPredioPkLote">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getIdPredioPkLote" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNombrePredio">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getNombrePredio" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registraManzana">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/registraManzana" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargaColumnaTablaManzana">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/cargaColumnaTablaManzana" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIdManzana">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getIdManzana" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIdManzanaPkLote">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getIdManzanaPkLote" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNumeroManzana">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getNumeroManzana" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="contarManzanas">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/contarManzanas" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registraLote">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/registraLote" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargaLotes">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/cargaLotes" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargaLotesDePredio">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/cargaLotesDePredio" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateLote">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/updateLote" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIdLote">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getIdLote" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNumeroLote">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getNumeroLote" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateStatusLote">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/updateStatusLote" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminaLote">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/eliminaLote" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscaLotePor">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/buscaLotePor" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="contarLotes">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/contarLotes" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMedidaLote">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getMedidaLote" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStatusLotes">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getStatusLotes" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMedida">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getMedida" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registraMedida">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/registraMedida" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertaMedida">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/insertaMedida" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="infoLote">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/infoLote" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registraProximoPago">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/registraProximoPago" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registraPago">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/registraPago" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProximoPago">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getProximoPago" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateStatusMora">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/updateStatusMora" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateTablaProximoPago">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/updateTablaProximoPago" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProximoPago">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/updateProximoPago" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registraMora">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/registraMora" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIdMora">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getIdMora" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFechaMora">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getFechaMora" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMontoMora">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getMontoMora" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateTablaMora">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/updateTablaMora" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reportePago">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/reportePago" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PVT">
    <wsdl:port name="PVTPort" binding="tns:PVTBinding">
      <soap:address location="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>